<div class="surface-section">
  <div class="text-500 mb-5">
    This section of your profile is public and displayed to other users.
  </div>
  <ng-container *ngIf="!loading; else loadingBlock">
    <ul class="list-none p-0 m-0">
      <li class="flex align-items-center py-3 px-2 surface-border flex-wrap">
        <div class="text-500 w-6 md:w-2 font-medium">Name</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          <p-inplace [preventClick]="true" [active]="false" #ninp>
            <ng-template pTemplate="display">
              {{ profile.name }}
            </ng-template>
            <ng-template pTemplate="content">
              <input type="text" [(ngModel)]="profile.name" pInputText />
            </ng-template>
          </p-inplace>
        </div>
        <div class="w-6 md:w-2 flex justify-content-end">
          <button
            pButton
            pRipple
            [label]="ninp.active ? 'Save' : 'Edit'"
            [icon]="ninp.active ? 'pi pi-save' : 'pi pi-pencil'"
            class="p-button-text"
            [ngClass]="{ 'p-button-success': ninp.active }"
            (click)="inplaceClick(ninp)"
          ></button>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Title</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          <p-inplace [preventClick]="true" [active]="false" #jtinp>
            <ng-template pTemplate="display">
              {{ profile.job_title }}
            </ng-template>
            <ng-template pTemplate="content">
              <input type="text" [(ngModel)]="profile.job_title" pInputText />
            </ng-template>
          </p-inplace>
        </div>
        <div class="w-6 md:w-2 flex justify-content-end">
          <button
            pButton
            pRipple
            [label]="jtinp.active ? 'Save' : 'Edit'"
            [icon]="jtinp.active ? 'pi pi-save' : 'pi pi-pencil'"
            class="p-button-text"
            [ngClass]="{ 'p-button-success': jtinp.active }"
            (click)="inplaceClick(jtinp)"
          ></button>
        </div>
      </li>
      <li
        class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
      >
        <div class="text-500 w-6 md:w-2 font-medium">Bio</div>
        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
          <p-inplace [preventClick]="true" [active]="false" #binp>
            <ng-template pTemplate="display">
              {{ profile.bio }}
            </ng-template>
            <ng-template pTemplate="content">
              <textarea
                [rows]="5"
                [cols]="30"
                [(ngModel)]="profile.bio"
                pInputTextarea
                [autoResize]="true"
              ></textarea>
            </ng-template>
          </p-inplace>
        </div>
        <div class="w-6 md:w-2 flex justify-content-end">
          <button
            pButton
            pRipple
            [label]="binp.active ? 'Save' : 'Edit'"
            [icon]="binp.active ? 'pi pi-save' : 'pi pi-pencil'"
            class="p-button-text"
            [ngClass]="{ 'p-button-success': binp.active }"
            (click)="inplaceClick(binp)"
          ></button>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #loadingBlock>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
  </ng-template>
</div>
