<div class="grid layout-border">
  <div class="col-8">
    <div class="grid">
      <div class="col-12">
        <div class="grid">
          <div class="col-3">
            <p-image
              src="../../../../assets/images/lady.png"
              alt="Image"
              width="200"
              imageClass="main-avatar"
            ></p-image>
          </div>
          <div class="col">
            <h1>
              {{ profile.name }}
            </h1>
            <div>
              {{ profile.job_title }}
            </div>
            <div *ngIf="profile.user_posts">
              {{ profile.followingIds.length }} followers •
              {{ profile.user_posts.length }} posts
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p-tabView>
          <p-tabPanel header="Posts"> Posts </p-tabPanel>
          <p-tabPanel header="Bookmarks"> Bookmarks </p-tabPanel>
          <p-tabPanel header="Following"> Following </p-tabPanel>
          <p-tabPanel header="Followers"> Followers </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col">
        <h1>Credentials</h1>
      </div>
      <div class="col-3 edit-button">
        <button pButton (click)="editProfile()">Edit</button>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Profile"
  [(visible)]="showEdit"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [modal]="true"
>
  <app-edit-profile [profile]="profile" [loading]="loading"></app-edit-profile>
  <ng-template pTemplate="footer">
    <p-button
      (click)="showEdit = false"
      label="Close"
      styleClass="p-button-text p-button-secondary"
    ></p-button>
  </ng-template>
</p-dialog>
